# ==== STM32CubeIDE / GCC ====
/Debug/
/Release/
/build/
/out/

# STM32CubeIDE: configs voláteis
.settings/language.settings.xml
.settings/stm32cubeide.project.prefs
.settings/*.prefs

# binários/artefatos de link
*.elf
*.map
*.hex
*.bin

# objetos/dep (em qualquer subpasta)
**/*.o
**/*.d
**/*.su
**/*.lst

# temporários/IDE
*.log
*.swp
*.swo

# workspace Eclipse fora do projeto
/.metadata/

# VS Code (se usar)
/.vscode/

# SO
.DS_Store
Thumbs.db

